<div id="mapMarkerAddon" class="marker--addon" th:fragment="marker-addon(post_id)">

    <th:block th:with="nearMap = ${mapMarkerFinder.nearMap(post_id, 1, 3)}">
        <th:block th:if="${not #lists.isEmpty(nearMap.result.items)}">

            <div class="marker--addonTitle">相关地点</div>
            <div class="marker--posts">
                <a target="_blank" th:each="map : ${nearMap.result.items}" th:with="content = ${map.spec.title}"
                   th:href="${map.status.permalink}"
                   class="marker--post"
                   th:style="'background-image: url('+${map.spec.cover}+')'">
                    <span class="marker--location" th:text="${nearMap.local}"></span>
                    <div class="marker--title" th:text="${map.spec.title}"></div>
                    <div class="marker--meta">
                        <time
                                th:datetime="${#temporals.format(map.spec.publishTime, 'MMMM dd yyyy')}"
                                th:text="${#temporals.format(map.spec.publishTime, 'MMMM dd yyyy')}"
                        ></time>
                        <span class="dot">·</span>
                        同城
                    </div>
                </a>
            </div>

            <div class="marker--copyright">
                Powered by <a href="https://github.com/PG-Z/plugin-map-marker" target="_blank">map-marker</a>
            </div>
        </th:block>

    </th:block>
</div>